#logo{
    width: 300px;
    height: 100px;
    position: absolute;
    top:0%;
    left: 0%;
} 

.title-box{
    background-color: #171a21;
    color:white;
    height: 100px;
    padding: 10px;

}

#title-text{
    margin-left: 1% ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    position:relative;
    top: 10px;
    text-align: right;
}

.subtitle-box{
    background-color: #3b341f;
}

#subtitle-text{
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
}

@media screen and (max-width:800px) {
    #logo {
        position: absolute;
        left: 50%;
        margin-left: -150px;
        }

    #title-text{
        display: none;
    }

}

.names{margin-bottom: 30px;}