body{
    background-color: #ece9e1;
}

html{
    height: 100%;
    overflow-y: hidden;
}

.video iframe{
    margin-top :20px ;
    aspect-ratio: 16/9;
    width: 100%;
}

.mySlides{
    margin-top :20px ;
    border-radius: 10px;
  }

.ulist{
    margin-top: 30px !important;
    background-color: #DAD7CD;
    border-radius: 10px;
}

.ulist h4{
    color: #171A21;
    font-family: 'Montserrat', sans-serif;
}

.ulist p{
    color:#3b341f;
    font-family: 'Lato', sans-serif;

}

.ulist li:link, .ulist li:visited{
    background-color: #DAD7CD;

}

.ulist li:hover,.ulist li:hover{
    background-color: #c7c1ab !important;
}

.article{
    background-color:#DAD7CD ;
    margin-top: 20px;
    max-width:100% ;
    border-radius: 20px;
    padding: 4px;
}

.article-title{
    color: #171A21;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.article-text{
    color:#3b341f;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

@media screen and (max-width:650px) {
    #logo {
        position: absolute;
        left: 50%;
        margin-left: -105px;
        }

    #title-text{
        display: none;
    }

    .video{
        margin-left: 0px;
        }
}

footer{
    background-color: #171A21;
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px !important;
}

.names{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px !important;
}

footer h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

footer li{
    font-family: 'Lato', sans-serif;
}

footer p{
    font-family: "Roboto";
}

.defterBakalli{
    display: block;
    text-align: center;
    height: 150vh;
    width: 100vw;
    background-image: linear-gradient( rgb(31, 0, 169) , rgb(87, 255, 238));

    animation: Animation 3s ease infinite;
    background-size: 130% 130%;

    z-index: 1;
    position: absolute;
    top:0px;
    bottom:0px;
    font-family: "Roboto";
}

@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.defterBakalli input{
    border-radius: 20px;
    border-color: rgb(43, 0, 255);
    text-align: center;
}

.defterBakalli h1, .defterBakalli p, .defterBakalli input, .defterBakalli button{
    position:relative;
    top: 20%;
}

.defterBakalli h1, .defterBakalli p{
    color:#ffffff;
}

.defterBakalli button{
    border-radius: 20px;
    border: 0px solid;
    background-image: linear-gradient(rgb(99, 214, 255), rgb(13, 0, 255));
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 15px;
}

.defterBakalli button:hover{
    background-image: linear-gradient(rgb(13, 0, 255) ,rgb(99, 214, 255));
    color: rgb(255, 255, 255);

}

.defterBakalli button:active{
    opacity: 0.8;
}

.prezi{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 0;
    background-image: linear-gradient(to top,#e66465, #9198e5);
    height: 100vh;
    width: 100vw;
    
}

.prezi iframe{
    position: absolute;
    width: 70vw;
    aspect-ratio: 16/9;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.prezi button{
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 20px;
    border-width: 0px;
    background-image: linear-gradient(rgb(255, 168, 168), rgb(255, 108, 108));
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
}

.prezi button:hover{
    background-image: linear-gradient(rgb(255, 108, 108), rgb(255, 168, 168));
}

@media screen and (max-width:800px){
    .prezi iframe{
        width: 95vw;
    }
}