.map_background{
    background-image: url(Asete/pena.jpg);
}

#logo{
    width: 210px;
    height: 70px;
    position: absolute;
    top:0%;
    right: 0%;
} 

.title-box{
    background-color: #171a21;
    color:white;
    height: 70px;
    margin: 0px;
    padding: 10px;
}

#title-text{
    margin-left: 1% ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.subtitle-box{
    background-color: #3b341f;
    margin: 0px;
}

#subtitle-text{
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;

}

.poem{
    background-color:#DAD7CD;
    border-radius: 20px;
    text-align: center;
    opacity: 0.8;
    max-width: 99% !important;
}

.poem-title{
    color: #171A21;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.poem-text{
    color:#3b341f;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width:650px) {
    #logo {
        position: absolute;
        left: 50%;
        margin-left: -105px;
        }

    #title-text{
        display: none;
    }

}
  


